@import '~@angular/material/theming';
// Import your custom theme
@import 'src/app/app.theme.scss';
md-card{
    padding-top: 12px;
    margin-top: 0.5em;
}

md-card-header{
    padding: 0.5em;
    height: 80px;
}

.fixture-opponent{
    font-size:1em;
    font-weight:bold;
}

.fixture-time{
    padding: 0.5em;
    background-color: #dbdbdb;
    color: #5a5a5a;
    font-weight: bold;
}

.squad{
    min-height: 50vh;
}

.squad /deep/ .mat-tab-label{
    display: flex;
    justify-content: center;
    align-items: center;
}

.player img{
    height:45px;
    border-radius: 22px;
    max-width: 45px;
    align-self: center;
}

.player-name{
    margin-top: 0;
    font-size: 0.85em;
    height: 2rem;
}

.selected {
    background-color: mat-color($primary);
}
