@import '~@angular/material/theming';
// Import your custom theme
@import 'src/app/app.theme.scss';
md-card{
    padding-top: 12px;
}
md-card-header{
    padding: 0.5em;
    height: 80px;
}
.fixture-opponent{
    font-size:1em;
    font-weight:bold;
}

.fixture-time{
    padding: 0.5em;
    background-color: #dbdbdb;
    color: #5a5a5a;
    font-weight: bold;
}

md-card-content{
    padding-top:1em;
    min-height: 50vh;
}

.player img{
    height:45px;
    border-radius: 22px;
    max-width: 45px;
    align-self: center;
}

.player-name{
    margin-top: 0;
    font-size: 0.85em;
}

md-card-actions{
    margin:0;
}

md-button-toggle-group{
    width:100%;
}

md-button-toggle{
    flex:1;
    text-align: center;
}

.selected {
    background-color: mat-color($primary);
}

md-button-toggle >>> .mat-button-toggle-label-content{
    padding:0;
    width:100%;
}

md-list,md-grid-list{
    max-height: 50vh;
    overflow-y: scroll;
}

md-grid-list{
    flex:2
}

.player-list{
    header{
        border-bottom: 1px solid #ddd;
        font-size: 0.75em;
    }
}

.no-list{
    opacity: 0.3;
    border-left:2px solid #ddd;

    img{
        filter: grayscale(100%);
    }
}

