@import '~@angular/material/theming';
// Import your custom theme
@import 'app.theme.scss';
:host(){
  display: flex;
  flex-direction: column;
  height: 100vh;
}

md-toolbar{
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2);
}

md-tab-group > /deep/ .mat-tab-body-wrapper{
  background-color: #e3e3e3
}

.add-fixture{
  margin-left:auto;
  border:1px solid;
  text-transform: capitalize;
}

md-tab-group > /deep/ md-tab-header  .mat-tab-label{
  line-height: 20px;
}

md-tab-group /deep/ .mat-tab-label{
  flex:1;
}

md-tab-group > /deep/ md-tab-header .mat-tab-label.mat-tab-label-active{
    background-color: black;
    color: white;
    opacity:0.8;
}

firebase-ui /deep/ {
  #firebaseui-auth-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .firebaseui-idp-password,  {
      background-color: #fff;
      box-shadow: none;
      
      .firebaseui-idp-text{
        color:rgba(0, 0, 0, 0.2);
      }
  }
}


 